.btn-primary{
	background-color: black;
}

#services{
	background-color: black;
	color: white;
}

p{
	font-family: 'Montserrat', sans-serif;
	font-size: 22px;
}

#services img{
	max-width: 100%;
}

header.masthead {
    background-image: url("../img/background.jpg");
}

.textbox{
	background-color:rgba(0, 0, 0, 0.8);
	border:2px solid black;
	padding:10px;
}

.question{
	color:#fec503;
	text-decoration:underline;
}

:root {
	/*
	- Om du ändrar bara radioHeight ändras mellanrummet mellan alternativen
	- Om du ändrar bara radioWidth ändras avståndet mellan checkboxrutan och alternativtexten
	- Om du ändrar båda ändras chexboxrutans storlek*/
	--radioHeight: 20px;
	--radioWidth: 20px;
}

.styleAlt {
	/*Stilformatering för svarsalternativen*/
	font-family: 'Roboto Slab', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	font-size: 40px;
	color:white;
	padding: 0px;
	border: 0px;
	margin: 0px;
}

/*Stilformatering för telefoner*/
@media(max-width: 450px) {
	:root {
		/*
		- Om du ändrar bara radioHeight ändras mellanrummet mellan alternativen
		- Om du ändrar bara radioWidth ändras avståndet mellan checkboxrutan och alternativtexten
		- Om du ändrar båda ändras chexboxrutans storlek*/
		--radioHeight: 12px;
		--radioWidth: 12px;
	}
	
	.styleAlt {
		/*Stilformatering för svarsalternativen*/
		font-family: 'Roboto Slab', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
		font-size: 20px;
		color:white;
		padding: 2px;
		border: 0px;
		margin: 0px;
	}

	header.masthead .intro-text .intro-heading {
		/*Stilformatering för största rubriken*/
		font-size: 30px;
		font-weight: 700;
		line-height: 30px;
		margin-bottom: 10px;
		font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	  }
}
